$lightest-blue: #62A3C9;
$light-blue: #4A94C0;
$blue: #0079BF;
$darker-blue: #026AA7;
$darkest-blue: #005B90;


$lightest-gray: #E2E4E6;
$light-gray: #D6DADC;
$gray: #CDD2D4;
$darker-gray: #999999;
$darkest-gray: #4D4D4D;
