@import './colors';

.user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: $light-gray;
  color: $dark-gray;
  text-transform: uppercase;
  margin-right: 9px;
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;

  cursor: default;

  &:hover {
    background: $gray;
  }
}
