@import '../base/colors';

.board {
  flex-grow: 1;
  background: #0079BF;
  padding: 6px;

  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

  color: white;

  button {
    padding: 6px;
    margin: 0;
    border: 0;

    background: none;

    &:hover {
      background: $darker-blue;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;

    & > div {
      font-size: 18px;
      // font-weight: bold;
    }

    & > button {
      font-size: 9pt;
      text-decoration: underline;
    }
  }

  .name {
    font-weight: bold;
  }
}
