@import '../base/colors';

.board-form {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8px;
  }

  label {
    display: flex;
    flex-direction: column;
    color: $darkest-gray;
    font-weight: bold;
  }

  input[type='text'] {
    flex-grow: 1;
    padding: 5px 3px;
    margin: 5px 0;
  }

  input:not(.button) {
    background: #EDEFF0;

    font-size: 1em;

    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 6px 8px;
  }

  input[type='text'] {
    &:hover {
      border: 1px solid gray;
    }

    &:focus {
      box-shadow: 0 0 5px #888888;
    }
  }

  input[type='submit'] {
    width: 35%;
    color: white;
    border-width: 1px;
  }
}
