@import '../base/colors.scss';

.boards-index {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  h1 {
    padding: 10px;
  }

  li {
    margin: 15px 0;
  }

  li a, li button {
    display: block;
    height: 96px;
    width: 300px;
    background: #026AA7;

    color: white;

    border-radius: 3px;

    padding: 0;
    margin: 0;

    div {
      padding: 12px;
    }
  }

  li a {
    &:hover {
      background: $darkest-blue;
    }
  }

  li button {
    background: #E2E4E6;
    color: gray;

    &:hover {
      background: $gray;
    }
  }

  .boards-list {
    width: 1250px;
  }

  .index-board-form {
    font-weight: normal;
  }
}
