@import '../base/colors';

.lists-index {
  margin-top: 6px;
  width: calc(100%);
  overflow-x: auto;
  padding: 0 6px 10px 6px;
  box-sizing: border-box;
  flex-grow: 1;

  ol {
    display: flex;
  }

  li, .popover {
    width: 270px;
    border-radius: 3px;
    flex-shrink: 0;
  }

  li {
    background: $darker-blue;
    margin: 0 5px;
    height: 100%;
  }

  li:hover {
    cursor: pointer;
  }
}
