@import '../base/colors';

.list-form {
  flex-grow: 1;

  color: $darkest-gray;

  height: 100%;

  button:hidden {
    display: none;
  }

  input[type="text"] {
    width: 90%;
    margin: 6px;
    background: inherit;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;

    padding: 5px;

    &:hover {
      cursor: pointer;
      background: $gray;
    }

    &:focus {
      background: white;
    }

    &::placeholder {
      color: $gray;
      font-weight: normal;
    }
  }
}

.lists-index li.list-create-li {
  background: $darker-blue;

  &:hover {
    background: $darkest-blue;
    cursor: pointer;
  }

  div.placeholder {
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
  }
}

li > button.lists-index-form {
  border-radius: inherit;

  &:hover {
    &[type='text']:hover {
      background: inherit;
    }
  }
}

li > .list-form {
  border-radius: inherit;

  &.focus {
    background: $light-gray;
  }

  input {
    &[type='text']:hover {
      background: inherit;
      &:focus {
        background: white;
      }
    }

    &[type='submit'] {
      display: none;
      margin: 6px;
    }

    &:focus {
      & ~ input[type='submit'] {
        display: block;
        padding: 8px 10px;
        width: 25%;
        font-size: 16px;
        color: white;
        border-bottom: 1px solid #3F6F21;
      }
    }
  }
}

.popover[class*='delete-list'] {
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  background: white;

  .delete-confirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      text-align: center;
      color: $darkest-gray;
    }

    button {
      background: #EB5A46;
      color: white;
      text-decoration: none;
      font-weight: bold;
      margin-top: 10px;
      border-bottom: 1px solid $gray;
      padding: 6px;

      &:hover {
        background: #CF513D;
      }
    }
  }
}
