@import '../base/colors';

.list-container {
  display: flex;
  justify-content: space-between;
  background: $lightest-gray;
  border-radius: 3px;

  button {
    color: $dark-gray;

    margin: 6px;
    margin-left: 5px;
    padding: 0 5px;

    &:hover {
      background: $gray;
    }
  }

  &.dragging {
    opacity: 0;
    background: $darkest-blue;
  }
}
