@import '../base/colors';

.list-container {
  display: flex;
  flex-direction: column;
  background: $lightest-gray;
  border-radius: 3px;

  .header {
    display: flex;
    justify-content: space-between;

    button {
      color: $darkest-gray;

      margin: 6px;
      margin-left: 5px;
      padding: 0 5px;

      &:hover {
        background: $gray;
      }
    }
  }


  &.dragging {
    opacity: 0;
    background: $darkest-blue;
  }
}
