@import '../base/colors';

.popover {
  z-index: 2;
  width: 300px;
  position: absolute;
  border: 1px solid #D6DADC;
  background: white;
  color: black;
  box-shadow: 0px 0px 2px #888888;
  border-radius: 3px;

  padding: 0 10px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 1px solid #D6DADC;
    text-align: center;
    padding: 10px 0;
  }

  &.boards-index-drawer {
    width: 300px;
    position: absolute;
    border: 1px solid #D6DADC;
    border-left: 0;
    background: white;
    color: black;
    top: 42px;
    left: 0px;
    // box-shadow: 1px 1px 2px #D6DADC;
    border-radius: 0 3px 3px 0;
    padding: 0 5px;

    .boards-index, .boards-list {
      width: 300px;
    }

    li {
      width: 100%;
      margin: 5px 0;
    }

    a {
      height: 38px;
    }

    button {
      margin: 0;
    }
  }

  &.user-drawer, &.create-drawer {
    top: 42px;
    right: 2px;
  }

  &.index-board-form {
    top: 0;
  }

  &.update-board {
    top: 36px;
    left: 0;
  }

  &.delete-list {
    top: 27px;
  }

  &.delete-board {
    top: 25px;
    right: -12px;

    padding: 5px;
  }

  &.delete-card {
    right: -42px;
  }

  &.lists-index-form {
    top: 0;
    margin: 0;
    height: initial;
    padding: 0;

    input[type='text'] {
      &::placeholder {
        color: $dark-gray;
      }

      &:focus {
        &::placeholder {
          color: $gray;
        }
      }
    }

    input[type='submit'] {
      width: 25%;
      padding: 8px 0;
      margin-left: 5px;
      color: white;
      border-bottom-width: 1px;
    }
  }
}


.popover-container {
  position: relative;
}
