@import "../base/colors";

.splash-container {
  font-size: 20px;
  height: 100%;
  display: flex;
  flex-flow: column;

  header {
    flex: 0 1 auto;

    background: #0079BF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    a {
      color: white;
    }
  }

  main {
    flex: 1 1 auto;

    position: relative;
    overflow: hidden;
  }

  footer {
    background: #42548E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
    flex: 0 1 46px;
    font-size: 16px;
    color: white;
  }

  .overlay {
    height: 100%;
    padding: 120px 33%;
    position: relative;
    z-index: 2;
    background: rgba(0, 121, 191, 0.85);
    text-align: center;
  }

  .hero {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  footer a {
    cursor: pointer;
    color: white;
    margin-right: 12px;
    display: flex;

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 4px;
      color: white;
    }
  }

  header a i {
    margin-right: 12px;
    color: white;
  }

  .button {
    margin: 12px;
  }

  .personal-links {
    display: flex;
    margin-bottom: 4px;
  }
}

.overlay-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
}

.headline {
  font-size: 32px;
  font-weight: bold;
  margin: 40px 0;
}

.subtitle {
  margin-bottom: 20px;
}

.overlay-contents > a {
  opacity: 1;
}

.login-text {
  font-size: 16px;
  margin-top: 30px
}

.login-text a:hover {
  text-decoration: underline;
}
